@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000000;
    flex-direction: column;

}
section {
    align-self: center;
    background: white;
    border-radius: 8px;
    padding: 45px;
    width: 450px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-size: 1000px;

}
.desenvolvido{
    color: white;
    text-align: center;
    bottom: 0;
}

section::before, section::after {
    content: '';
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: absolute;
    z-index: -1;
    width: 515px;
    height: 535px;
    border-radius: 8px;
    background-size: 100% 200%;
    background: linear-gradient(#d5ac0a, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    animation: animarBorda 75ms linear alternate infinite;
}

section::after {
    filter: blur(100px);
}

@keyframes animarBorda {
    0% {
        background-size: 50% 50%;
        filter: blur(50px);
    }
    100% {
        background-size: 300% 300%;
        filter: blur(100px);
    }
}
header img{
    background-position: center;
    width: 135px;
}

header h3 {
    font-size: 1.35rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 87%;
    gap: 25px;
}

main a {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 1) 0%, rgba(0, 57, 50, 1) 100%);
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    transition: all .6s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

main a:hover {
    opacity: .75;
    transform: scale(115%);
    animation: cubic-bezier(.85, .09, .42, .8);
    transition: 50ms;
}

@media (max-width: 500px) {

    section {
        padding: 20px;
        background-color: #FFF;
        width: 65%;
        gap: 20px;
        border-radius: 8px;
    }
    section::before, section::after {
         position: absolute;
         z-index: -1;
         width: 50%;
         height: 70%;
         border-radius: 8px;
         background-size: 100% 200%;
         background: linear-gradient(#d5ac0a, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
         animation: animarBorda 75ms linear alternate infinite;
     }
    main a {
        font-size: 12px;
    }
}
